{% extends 'base.html.twig' %}

{% block title %}Liste des servants{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ servantDetails['name']}}</h1>
        <h2>{{ servantDetails['className']}}</h2>
    <img src="{{ servantDetails['extraAssets']['charaGraph']['ascension']['4'] }}" alt="" srcset="">
    </div>
{% endblock %}
